body{
    background-color: darkviolet;
 }
 .resp{
     width: 100%;
     margin-top: 10%;
 }
 .abaixo{
   margin-bottom: 2px;
 }
 footer{
     text-align: center;
 }
 h1{
     text-align: center;
 }
 
